{% extends 'inicio/base.html' %}

{% block contenido %}
<div>
    <div class="cont_pantalla_emergente" id="cont_pantalla_emergente">
        {% block contenido_pantalla_emergente %}
        {% endblock %}
    </div>

    <section class="parte-top">
        <a href="registro_pago_contado">
            <div class="decorado_cubrir color_decorado_cubrir_1">
                <span class="material-icons-sharp">add</span>
                <h3>Pago Contado</h3>
            </div>
        </a>
        <a href="registro_pago_credito">
            <div class="decorado_cubrir color_decorado_cubrir_1">
                <span class="material-icons-sharp">add</span>
                <h3>Pago Credito</h3>
            </div>
        </a>
    </section>

    <section class="parte-mid">
        <div class="cont_formularios">
            {% block cont_formularios %}
            {% endblock %}
        </div>
    </section>

</div>

<script>

</script>
{% endblock %}