{% extends 'pago/pago.html' %}

{% block cont_formularios %}
<div>
    <h1>Registro Pago Contado</h1>
    <div class="cont_doble">
        <section class="parte_izquierda">
            <form id="form_reg_pago_contado">
                <h3>Buscar Cliente</h3>
                <label for="nro_ci">Número de CI:</label>
                <input type="text" id="nro_ci" name="nro_ci" required maxlength="10" pattern="[0-9A-Za-z]{6,10}">
                <button type="button" class="btn_buscar" onclick="traer_venta_contado_nro_ci()">buscar</button><br><br>

                <h3>Datos Pago</h3>
                <p>
                    <span id="datos_pago"></span>
                </p> <br>

                <input type="hidden" id="id_venta">
                <input type="hidden" id="precio_venta">

                <label for="observacion">observacion:</label>
                <textarea id="observacion" name="observacion" rows="3" cols="40" maxlength="250"></textarea><br><br>

                <button type="submit" class="registrar-btn"> Registrar </button>
                <a href="registro_pago_contado" class="close-btn" id="cerrar-btn">Cancelar</a>
            </form>
            
        </section>
        <section class="parte_derecha">
            <div class="cont_tabla">
                <table id="tabla_pago_contado">
                    <thead>
                        <tr>
                            <th>fecha_registro</th>
                            <th>precio_venta</th>
                            <th>nro_local</th>
                            <th>nombre_cliente</th>
                            <th>Operacion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<script>
    function seleccion_pago(data){
        datos = `
        fecha_registro: ${data.fecha_registro} <br>
        precio_venta: ${data.precio_venta} <br>
        nro_local: ${data.nro_local} <br>
        nombre_cliente: ${data.nombre_cliente} <br>
        `;
        $('#datos_pago').html(datos);

        $('#id_venta').val(data.id_venta);
        $('#precio_venta').val(data.precio_venta);
    }

    function traer_venta_contado_nro_ci(){
        $.ajax({
            url: url_servidor+'/pago/traer_venta_contado_nro_ci/'+ $('#nro_ci').val(),
            type: 'GET',
            dataType: 'json',
            success: function (resultado) {
                var tabla = $('#tabla_pago_contado tbody');
                if (resultado.exito === false) {
                    console.log(resultado.contenido);
                }else{
                    datos = resultado.contenido;
                    tabla.empty();
                    datos.forEach(data => {
                        const tr = document.createElement('tr');
                        const trContent = `
                        <tr>
                            <td>${data.fecha_registro}</td>
                            <td>${data.precio_venta}</td>
                            <td>${data.nro_local}</td>
                            <td>${data.nombre_cliente}</td>
                            
                            <td>
                                <button type="button" onclick="seleccion_pago(${JSON.stringify(data).replace(/"/g, '&quot;')})" 
                                class="btn_editar">seleccionar</button>
                            </td>

                        </tr>    
                        `;
                        tr.innerHTML = trContent;
                        tabla.append(trContent);
                    });
                }
            }
        });
    }

    $(document).on('submit', '#form_reg_pago_contado', function (event) {
        event.preventDefault();
        var formData = {
            id_venta: $('#id_venta').val(),
            precio_venta: $('#precio_venta').val(),
            observacion: $('#observacion').val()
        };
        $.ajax({
            url: url_servidor+'/pago/registro_pago_contado',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(formData),
            success: function (respuesta) {
                if (respuesta.exito) {
                    crearMensaje(respuesta.titulo, respuesta.mensaje, respuesta.redireccion);
                } else {
                    crearMensaje(respuesta.titulo, respuesta.mensaje);
                }
            }
        });  
    });
</script>
{% endblock %}